/* =================== Modal style =================== */
.table-editor-modal {
    padding: 10px;
}

.table-editor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table-editor-table td {
    border: 1px solid var(--background-modifier-border);
    padding: 4px;
}

.table-editor-div {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.table-editor-save {
    margin-top: 10px;
    padding: 6px 10px;
    background: var(--interactive-accent);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.table-editor-toolbar {
    display: flex;
    gap: 8px;
    padding: 6px;
    border-bottom: 1px solid var(--background-modifier-border);
    margin-bottom: 8px;
}

/* group like Word sections */
.toolbar-group {
    display: flex;
    gap: 4px;
    padding-right: 8px;
    border-right: 1px solid var(--background-modifier-border);
}

.toolbar-group:last-child {
    border-right: none;
}

/* buttons */
.table-editor-toolbar button {
    width: 32px;
    height: 32px;
    padding: 4px 8px;
    border: 1px solid var(--background-modifier-border);
    background: var(--background-secondary);
    border-radius: 4px;
}

.table-editor-toolbar button svg {
    width: 18px;
    height: 18px;
}

.table-editor-toolbar button:hover {
    background: var(--background-modifier-hover);
}

/* selected state */
.selected-cell {
    outline: 2px solid var(--interactive-accent);
    background: var(--background-modifier-hover);
}